---
layout: blank
---
<!DOCTYPE html>
<html lang="cs" dir="ltr" itemtype="http://schema.org/WebPage" itemscope="" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>vodu řešíme teď</title>
  <meta name="author" content="Česká pirátská strana"/>
  <meta name="robots" content="index,follow"/>
  <meta name="description" content="Plán Pirátů vodu řešíme teď">
  <meta name="keywords" content="piráti, česká pirátská strana, sucho, voda, povodně/>
    <!-- Favicons -->
    <link rel=" apple-touch-icon-precomposed
  " sizes="57x57" href="/assets/img/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/img/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/img/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/img/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/assets/img/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/img/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/img/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/img/favicon/apple-touch-icon-152x152.png">
  <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-196x196.png" sizes="196x196">
  <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-128x128.png" sizes="128x128">
  <link rel="alternate" type="application/rss+xml" title="Rozcestník Pirátů ke vodu řešíme teď RSS" href="/feed.xml">
  <meta name="application-name" content="Rozcestník Pirátů vodu řešíme teď">
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="msapplication-TileImage" content="/assets/img/favicon/mstile-144x144.png">
  <meta name="msapplication-square70x70logo" content="/assets/img/favicon/mstile-70x70.png">
  <meta name="msapplication-square150x150logo" content="/assets/img/favicon/mstile-150x150.png">
  <meta name="msapplication-wide310x150logo" content="/assets/img/favicon/mstile-310x150.png">
  <meta name="msapplication-square310x310logo" content="/assets/img/favicon/mstile-310x310.png">
  <meta property="og:url" content="/"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="plán vodu řešíme teď "/>
  <meta property="og:description" content="Plán Pirátů vodu řešíme teď"/>
  <meta property="og:image" content="https://voduresimeted.cz/assets/img/header.jpg"/>
  <!-- Fonts -->

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
          integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
          integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
          crossorigin="anonymous"></script>
  <script src="js/jquery.bootstrap-dropdown-hover.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
  <script src="js/jquery.csv.min.js"></script>

  <link href="css/custom.css" rel="stylesheet">

  <!-- Matomo -->
  <script type="text/javascript">
    var _paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function () {
      var u = "//matomo.pirati.cz/";
      _paq.push(['setTrackerUrl', u + 'matomo.php']);
      _paq.push(['setSiteId', '110']);
      var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
      g.type = 'text/javascript';
      g.async = true;
      g.defer = true;
      g.src = u + 'matomo.js';
      s.parentNode.insertBefore(g, s);
    })();
  </script>
  <!-- End Matomo Code -->

</head>

<body>

<div>
  <link rel="stylesheet" href="{% asset 'main.css' @path !type %}">
  {% include header.html %}
  {% include js/main.html %}

  {% if site.data.menu.main %}
  {% include menu.html %}
  {% unless page.nosubmenu %}
  {% include submenu.html %}
  {% endunless %}
  {% endif %}
</div>

<section>
  <div class="container">
    <h1>VODU ŘEŠÍME TEĎ</h1>
    <p class="font-weight-bold">Česká republika čelí extrémním klimatickým výkyvům. Rychle postupující změna klimatu se na našem území projevuje obdobími sucha, přívalovými dešti a lokálními povodněmi. Piráti jsou si závažnosti tohoto problému dobře vědomi a chtějí situaci co nejdříve a nejefektivněji řešit.</p>
	
    <h3>Proč extrémní sucho doprovází i přívalové deště a záplavy?</h3>
    <p class="font-weight-normal">Změna klimatu mění rozložení a intenzity dešťových srážek v rámci území a v průběhu celého roku. V důsledku stále rostoucí teploty dochází ke zvyšování výparu vody z krajiny. To má přímý vliv na snižování hladin podzemních a povrchových vod. Dopady klimatických extrémů prohlubuje špatné hospodaření s krajinou, protože vyprahlá půda není schopna vodu zadržet. Dobrá správa celé krajiny je tedy součástí odpovědi na projevy klimatické změny. Bez motivovaných hospodářů ale nelze odolné a zdravé krajiny dosáhnout. Náš cíl je proto spojit všechny klíčové hráče, pracovat se znalostmi a fakty a to vše ekonomicky udržitelným způsobem.</p>
	

   </div>
</section>
<section>
  <div class="container" id="source">
    <h3>Česká Republika - stav podzemních vod </h3>
    <img src="assets/img/intersucho.jpg">
 
  </div>
</section>
<section class="invert">
  <div class="container" id="intro">
    <div class="row">
      <div class="col-sm">
	    <div class="program-element-header">
          <h3>NÁŠ PLÁN STOJÍ NA ČTYŘECH PILÍŘÍCH</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
	    <div class="program-element-header">
          <h3>DOSTUPNÁ A KVALITNÍ PITNÁ VODA</h3>
          <img src="assets/img/ikony1.jpg" class="program-logo">
        </div>
		<p class="font-weight-normal">Vzhledem k poklesu hladiny podzemních vod nabývá na významu využívání vody povrchové (řeky, jezera a přehrady). Zásadní je ochrana všech vodních zdrojů, neboť jsou ohroženy kontaminací pesticidy, léčivy, sinicemi i lidskou činností. Musíme hledat nové vodní zdroje, investovat do technologií na úpravu pitné vody, správy a údržby vodovodů a kanalizací. Je nutné neplýtvat pitnou vodou na zalévání a jiné činnosti. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
	    <div class="program-element-header">
          <h3>ZDRAVÁ KRAJINA</h3>
          <img src="assets/img/ikony2.jpg" class="program-logo">
        </div>
		<p class="font-weight-normal">Zdravá krajina je pro boj se suchem i prevenci povodní naprosto zásadní. Musíme změnit náš přístup k jejímu obhospodařování, je třeba se zaměřit na zdraví půdy a její ochranou podmínit zemědělské dotace. Musíme vrátit krajině schopnost zadržovat vodu, vrátit do ní život a zastavit její nevratné ničení. </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
	    <div class="program-element-header">
          <h3>ŽIVÁ A UDRŽITELNÁ MĚSTA</h3>
          <img src="assets/img/ikony3.jpg" class="program-logo">
        </div>
		<p class="font-weight-normal">Svůj podíl na změnách rovnováhy přirozeného vodního cyklu má také zastavěná krajina. Vybetonovaná území nejsou schopna dešťovou vodu zadržet a většina srážek spadlých ve městech či obcích odtéká rovnou do kanalizací. Důležité je proto efektivní územní plánování a tvorba projektů na podporu oživení zastavěné krajiny. Zeleň ve městě také snižuje efekt tzv. tepelného ostrova a tím pomáhá vytvořit příjemnější klima. Cílem České republiky tak musí být vracení zeleně a vody do měst pomocí budování funkční modrozelené infrastruktury. </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
	    <div class="program-element-header">
          <h3>MOTIVOVANÝ HOSPODÁŘ</h3>
          <img src="assets/img/ikony4.jpg" class="program-logo">
        </div>
		<p class="font-weight-normal">Úspěšná obnova krajiny musí být týmová spolupráce. Ke zdravé krajině se nedostaneme jenom omezeními a zpřísňováním. Je nutné pozitivně motivovat lidí, kteří v krajině hospodaří, a odstraňovat bariéry, které brání její obnově. Znamená to zbavit se nesmyslné byrokracie, papírování a kontrol, které nepomáhají ani lidem, ani krajině. </p>
      </div>
    </div> 
   </div>
</section>
 
<section >
  <div class="container">
    <div class="row">
      <div class="col-sm">
	    <div>
          <h3>CO PŘINÁŠÍ NÁŠ PLÁN?</h3>
		  <p class="font-weight-normal">Nabízí soubor opatření pro hospodaření s vodou a klimaticky odolnou krajinu v České republice. Jde o kroky, které jsou zasazeny do třech časových úseků – co musíme dělat teď, co do konce roku a co v dlouhodobém horizontu.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="invert">
  <div class="container" id="section-1">
<h2>1. CO MUSÍME ŘEŠIT TEĎ</h2>
  </div>
</section>


<section >
  <div class="container">
    <div class="row">
      <div class="col-sm">
	    <div class="program-element-header">
          <h4>DOSTUPNÁ A KVALITNÍ PITNÁ VODA</h4>          
          <img src="assets/img/ikony1.jpg" class="program-logo">
        </div>
        <ul class="fa-ul program-items">
          <li><i class="fa-li fa fa-check"></i>Zajistit vznik <span class="font-weight-bold"> databáze obcí</span>, které mají problémy se zásobováním pitnou vodou, nastavit priority a <span class="font-weight-bold">harmonogram jejich podpory</span>.</li>
		  <li><i class="fa-li fa fa-check"></i>Nastavit funkční a kapacitní <span class="font-weight-bold">systém poradenství obcím</span> v oblasti zásobování pitnou vodou.</li>
          <li><i class="fa-li fa fa-check"></i>Uvolnit <span class="font-weight-bold">větší množství financí na podporu obcím</span> na vybudování nových zdrojů pitné vody a vodovodů.</li>
          <li><i class="fa-li fa fa-check"></i>Zrevidovat stávající zdroje pitné vody a podmínky v jejich <span class="font-weight-bold">ochranných pásmech</span> tak, aby nedocházelo ke znečišťování, zanést ochranná pásma do katastru nemovitostí.</li>
          <li><i class="fa-li fa fa-check"></i><span class="font-weight-bold">Omezit užívání pitné vody</span> na zalévání a jiné činnosti.</li>
        </ul>
	  </div>
    </div>
    <div class="row">
      <div class="col-sm">
	    <div class="program-element-header">
          <h4>ZDRAVÁ KRAJINA</h4>          
          <img src="assets/img/ikony2.jpg" class="program-logo">
        </div>

      <ul class="fa-ul program-items">
      <li><i class="fa-li fa fa-check"></i>Zastavit projekty, které vedou k <span class="font-weight-bold">rychlému odvádění vody</span> z České republiky. Zabránit nešetrným regulacím vodních toků a dalším krajinným úpravám, které vedou ke zhoršování jejího stavu. Proto vláda musí zveřejnit veškeré investice související s řešením sucha a vysvětlit koncepčnost a návaznosti na existující strategie.</li>
<li><i class="fa-li fa fa-check"></i>Zajistit <span class="font-weight-bold">finance pro pozemkové úpravy</span> a další způsoby obnovy krajiny (projekty krajinného plánování, projekty jako "Živá krajina" apod.). Musíme klást důraz na obnovu a ochranu říční krajiny, která je důležitá pro vsakování vody a zpomalení jejího odtoku pryč z ČR,ale i pro co nejbezpečnější provedení povodňových vln. Také je třeba zahájit zmapování umístění a stavu odvodňovacích drenáží a podpořit projekty k jejich využití pro zadržování vody v krajině.</li>
<li><i class="fa-li fa fa-check"></i>Důležité je také zajistit prostředky na <span class="font-weight-bold">výzkum udržitelného nakládání s krajinou</span> tak, aby výsledky těchto výzkumů byly použitelné pro širokou veřejnost. Musíme podpořit osvětu a výzkum postupů v zemědělství a lesnictví, které zajistí lepší zadržování vody v krajině a ozdravení půdy.  </li>
<li><i class="fa-li fa fa-check"></i>Urychleně řešit <span class="font-weight-bold">stavy přemnožené zvěře</span>, škody, které způsobuje na lesních porostech i v otevřené krajině, a příčiny, proč k přemnožení dochází.</li>
<li><i class="fa-li fa fa-check"></i>Zefektivnit <span class="font-weight-bold">využití státních pozemků</span>, zejména kolem silnic, v krajině a kolem řek a potoků. Důležité je také vrátit stromy a aleje do krajiny a odstranit zbytečné legislativní bariéry pro výsadbu stromů v otevřené krajině.
</li>
        </ul>
	  </div>
    </div>
    <div class="row">
      <div class="col-sm">
	    <div class="program-element-header">
          <h4>ŽIVÁ A UDRŽITELNÁ MĚSTA</h4>          
          <img src="assets/img/ikony3.jpg" class="program-logo">
        </div>
      <ul class="fa-ul program-items">
      <li><i class="fa-li fa fa-check"></i>V maximální míře <span class="font-weight-bold">vracet zeleň a vodu do měst a obcí</span> – zelené střechy a fasády, dešťové zahrádky, zachytávání dešťové vody a její využívání na zalévání veřejné zeleně, umisťování prvků zeleně na vhodná místa.</li>
<li><i class="fa-li fa fa-check"></i>Řešit <span class="font-weight-bold">novou výstavbu a dopravu uvnitř obcí<span> s ohledem na zachování a rozšíření zelených ploch, vzrostlých stromů apod. </li>
<li><i class="fa-li fa fa-check"></i><span class="font-weight-bold">Zvýšit osvětu a vzdělávání</span> ohledně klimatických změn a sucha. Dostat vodu do popředí zájmu lidí i ve velkých městech. Informovat občany o důležitosti a výhodách <span class="font-weight-bold">využívání dešťové a šedé vody</span> (vody ze sprch, umyvadel, praček apod.) a propagovat toto téma mezi širokou veřejností.</li>
<li><i class="fa-li fa fa-check"></i>Navýšit finanční prostředky na účelné využívání dešťové a šedé vody v <span class="font-weight-bold">dotačních titulech</span>. 
</li>
        </ul>
	  </div>
    </div>
    <div class="row">
      <div class="col-sm">
	    <div class="program-element-header">
          <h4>MOTIVOVANÝ HOSPODÁŘ</h4>          
          <img src="assets/img/ikony4.jpg" class="program-logo">
        </div>
<ul class="fa-ul program-items">
      <li><i class="fa-li fa fa-check"></i>Místo buzerace se musíme zaměřit na <span class="font-weight-bold">poradenství a přenášení vědeckých poznatků do praxe</span> při hospodaření v krajině. Dostupné poradenství by mělo být jedním ze základních principů ochrany krajiny a boje proti suchu. 
</li>
<li><i class="fa-li fa fa-check"></i><span class="font-weight-bold">Zrušit nadbytečné kontroly</span> zemědělců. Je třeba snížit maximální počet náhodných kontrol na 5 ročně, u malých zemědělců na 2. Dále musíme omezit zpětné kontroly dotací, není-li odůvodněné podezření na spáchání dotačního podvodu.
</li>
<li><i class="fa-li fa fa-check"></i><span class="font-weight-bold">Přestat trestat hospodaření dobré pro krajinu </span> – zemědělci a lesníci by neměli být za tvorbu pestřejší krajiny trestáni. Nedanit půdu a uznat za ni nárok na zemědělské platby, i když se na ní nepěstuje, ale zajišťuje ekologickou stabilitu krajiny. 
</li>
<li><i class="fa-li fa fa-check"></i><span class="font-weight-bold">Zrychlit vyplácení schválených dotací</span>, aby žadatelé nemuseli čekat dlouhé měsíce, aby mohli co nejrychleji zlepšovat krajinu.
</li>
        </ul>
	  </div>
    </div>		
  </div>
</section>

<section  class="invert">
  <div class="container"  id="section-2">
<h2>2. CO MUSÍME UDĚLAT DO KONCE ROKU</h2>
  </div>
</section>

<section>
  <div class="container">
<h4>DOSTUPNÁ A KVALITNÍ PITNÁ VODA</h4>
<ul class="fa-ul program-items">
      <li><i class="fa-li fa fa-check"></i>Musíme <span class="font-weight-bold">zjednodušit dotační systém</span>, urychlit celý proces podpory obcí <span class="font-weight-bold">k vybudování nových zdrojů pitné vody a vodovodů, poskytovat 100% podporu</span>.
</li>
<li><i class="fa-li fa fa-check"></i><span class="font-weight-bold">Posílit úřady poskytující podporu </span> - finančně, odborně, metodicky i personálně na vybudování nových zdrojů pitné vody a vodovodů.
</li>
<li><i class="fa-li fa fa-check"></i>Předložit komplexní <span class="font-weight-bold">novelu vodního zákona</span> a souvisejících předpisů zaměřenou mj. na ochranu pitné vody. 
</li>
<li><i class="fa-li fa fa-check"></i><span class="font-weight-bold">Omezit používání hnojiv a pesticidů</span>, které mají negativní vliv na kvalitu pitné vody.
</li>
        </ul>
		
<h4>ZDRAVÁ KRAJINA</h4>
<ul class="fa-ul program-items">
      <li><i class="fa-li fa fa-check"></i>Upřesnit <span class="font-weight-bold">odpovědnost majitele půdy</span> (fyzických osob i obcí) za její stav. Zároveň je třeba zajistit jim základní poradenství při tvorbě pachtovních smluv a vymáhání jejich naplnění.
</li>
<li><i class="fa-li fa fa-check"></i>Přizpůsobit <span class="font-weight-bold">hospodaření v krajině</span> aktuálním klimatickým podmínkám. Musíme nastavit citlivé a k přírodě šetrné hospodaření v lesích, změnit a zpřísnit požadavky na obdělávání půdy, modernizovat standardy pozemkových úprav a dokončit protierozní vyhlášku.
</li>
<li><i class="fa-li fa fa-check"></i>Změnit <span class="font-weight-bold">podporu zemědělství a lesnictví</span> tak, abychom dále zmenšovali velikost půdních bloků a zajistili větší pestrost krajiny, podpořili oživení půdy a více používali moderní metody ochrany půdy a krajiny.
</li>
<li><i class="fa-li fa fa-check"></i>Zavést systém <span class="font-weight-bold">chytrých kompenzací škod</span>. Navázat odškodnění pro zemědělce a lesníky na konkrétní opatření a jimi vyplácení kompenzací podmínit. Zároveň navýšit rozpočet na kompenzace.
</li>
        </ul>
		
		
<h4>ŽIVÁ A UDRŽITELNÁ MĚSTA</h4>
<ul class="fa-ul program-items">
      <li><i class="fa-li fa fa-check"></i>
<span class="font-weight-bold">Zpřísnit podmínky pro výstavbu</span> především velkých průmyslových komplexů (sklady, fabriky) a developerských projektů na zemědělské půdě. 
</li>
<li><i class="fa-li fa fa-check"></i><span class="font-weight-bold">Zvýšit poplatky za vynětí půdy</span> ze Zemědělského půdního fondu.
</li>
<li><i class="fa-li fa fa-check"></i><span class="font-weight-bold">Podporovat stavby</span> na místech brownfieldů místo záboru nové půdy.
</li>
<li><i class="fa-li fa fa-check"></i>Zajistit, aby <span class="font-weight-bold">nebyl upřednostňován soukromý zájem </span> (investice) nad veřejným zájmem na zdravé a funkční krajině. Zachovat <span class="font-weight-bold">účast veřejnosti a spolků</span> v územních řízeních.
</li>
<li><i class="fa-li fa fa-check"></i>Při <span class="font-weight-bold">projektování staveb</span> (především velkých vybetonovaných ploch, průmyslových areálů apod.)  musí být navrženo řešení vsakování či jiného využití dešťové vody tak, aby došlo k <span class="font-weight-bold">zadržení maximálního ročního množství srážek</span> v místě stavby.
</li>
        </ul>

<h4>MOTIVOVANÝ HOSPODÁŘ</h4>
<ul class="fa-ul program-items">
      <li><i class="fa-li fa fa-check"></i>
Již <span class="font-weight-bold">vyplacené dotace se nesmí vracet</span> kvůli změnám v pravidlech dotací provedených po vyplacení. 
</li>
<li><i class="fa-li fa fa-check"></i><span class="font-weight-bold">Usnadnit nakládání s odvodňovacími drenážemi</span> a zjednodušit spolupráci s úřady. Složité vlastnické vztahy v krajině brání využívání odvodňovací drenáže nebo nevedou k zastavení její činnosti.
</li>
<li><i class="fa-li fa fa-check"></i><span class="font-weight-bold">Umožnit financování mezd z dotací</span>, aby se zemědělcům vyplatilo najmout pracovní sílu na opatření pro zadržení vody v krajině.
</li>
<li><i class="fa-li fa fa-check"></i><span class="font-weight-bold">Zjednodušit pěstování technického konopí a dalších opomíjených plodin.</span> Odstranit nesmyslné bariéry pro pěstování a zpracování v zákonech, aby se vyplatilo je pěstovat.
</li>
        </ul>

  </div>
</section>
<section class="invert">
  <div class="container" id="section-3">
<h2>3. CO MUSÍME DĚLAT DLOUHODOBĚ</h2>
  </div>
</section>

<section>
  <div class="container">
<h4>DOSTUPNÁ A KVALITNÍ PITNÁ VODA</h4>
<ul class="fa-ul program-items">
      <li><i class="fa-li fa fa-check"></i>
<span class="font-weight-bold">Přestat používat pitnou vodu tam, kde to není nutné</span>, například v průmyslu či zemědělství. Neplýtvat ani ve veřejných budovách a domácnostech – splachování záchodů.
</li>
<li><i class="fa-li fa fa-check"></i>Podpořit <span class="font-weight-bold">vědu a výzkum v oblasti úpravy pitné vody</span>.
</li>
<li><i class="fa-li fa fa-check"></i><span class="font-weight-bold">Podporovat takové technologie, které šetrně hospodaří s vodou </span>(energetika – obrovská spotřeba při využívání fosilních paliv i jádra).
</li>
<li><i class="fa-li fa fa-check"></i>Stát musí motivovat obce ke <span class="font-weight-bold">správě vlastních vodovodů</span> (bojí se vysoké ceny vody a s realizací vodovou jsou tedy závislé na ochotě vodárenských společností převzít správu nových vodovodů).
</li>
<li><i class="fa-li fa fa-check"></i><span class="font-weight-bold">Zajistit hydrogeologické průzkumy</span> tak, aby nedocházelo ke vzájemnému negativnímu ovlivňování sousedních zdrojů vody (nekrást si vodu).
</li>
        </ul>
		
<h4>ZDRAVÁ KRAJINA</h4>
<ul class="fa-ul program-items">
      <li><i class="fa-li fa fa-check"></i>
Změnit <span class="font-weight-bold">systém dotací</span> s cílem podporovat udržitelné hospodaření a obnovu krajiny. Podmiňovat veškeré dotace (vč. přímých plateb) přísnějšími standardy hospodaření.
</li>
<li><i class="fa-li fa fa-check"></i>Podpořit zvyšování podílu <span class="font-weight-bold">ekologického zemědělství</span> a dalších k přírodě šetrných zemědělských postupů (např. integrovaná produkce).
</li>
<li><i class="fa-li fa fa-check"></i>Veškerou státní půdu <span class="font-weight-bold">obhospodařovávat udržitelným způsobem</span>. 
</li>
<li><i class="fa-li fa fa-check"></i>Změnit <span class="font-weight-bold">přístup státu k lesnictví</span>. Státní lesy musí změnit způsob fungování, provozovat udržitelné hospodaření a více podporovat rozvoj venkova. Musíme také změnit lesní zákon, aby podporoval takové způsoby hospodaření v lese, které jsou co nejvíce blízké přírodě.
</li>
<li><i class="fa-li fa fa-check"></i><span class="font-weight-bold">Modernizovat vzdělávání veřejnosti</span> v oblastech životního prostředí a krajiny, zaměřit se na téma ochrany klimatu a důležitosti podpory lokálních výrobků.
</li>
        </ul>
		
<h4>ŽIVÁ A UDRŽITELNÁ MĚSTA</h4>
<ul class="fa-ul program-items">
      <li><i class="fa-li fa fa-check"></i>
Stát, kraje, obce spravující veřejná místa a veřejné budovy musí jít <span class="font-weight-bold">příkladem v hospodaření s vodou</span> a jejím využití.
</li>
<li><i class="fa-li fa fa-check"></i>Rozšířit <span class="font-weight-bold">dotační podporu výstavby zelených střech</span> a systémů využívání šedé vody pro domy, veřejné budovy i průmyslové objekty. Znásobit objem prostředků evropských i státních fondů, které budou přiděleny na skutečný boj se suchem.
</li>
<li><i class="fa-li fa fa-check"></i>Zaměřit se na <span class="font-weight-bold">revitalizace toků mimo obce i v obcích</span>, zpřírodnění toků a zvýšení jejich ekologické i estetické hodnoty za současného zachování a zvýšení protipovodňové ochrany měst.
</li>
<li><i class="fa-li fa fa-check"></i><span class="font-weight-bold">Zamezit odvodu dešťové vody</span> do kanalizace a motivovat k jejímu využívání a zasakování na místě vzniku.
</li>
        </ul>

<h4>MOTIVOVANÝ HOSPODÁŘ</h4>
<ul class="fa-ul program-items">
      <li><i class="fa-li fa fa-check"></i>
</li>
<li><i class="fa-li fa fa-check"></i><span class="font-weight-bold">Odstranit veškeré zbytečné regulace, evidence a formuláře</span>, které prokazatelně nepřispívají k lepšímu stavu krajiny, větší ochraně veřejného zdraví nebo ochraně zvířat před týráním.
</li>
<li><i class="fa-li fa fa-check"></i><span class="font-weight-bold">Zjednodušit a digitalizovat státní správu hospodaření v krajině a územního rozvoje</span>. Zavést srozumitelný a uživatelsky přívětivý systém, který dá hospodářům na jednom místě veškeré informace.
</li>
<li><i class="fa-li fa fa-check"></i><span class="font-weight-bold">Změnit systém daní a odpočtů</span> tak, aby se šetrné hospodaření v krajině vyplatilo.
</li>
<li><i class="fa-li fa fa-check"></i><span class="font-weight-bold">Odstraňovat bariéry přístupu na trh</span> pro lokální a ekologické zemědělce.
</li>
<li><i class="fa-li fa fa-check"></i><span class="font-weight-bold">Podpora veřejného stravování</span> ve prospěch lokálních zemědělců a bioproducentů.
</li>
        </ul>


<section class="invert">
  <div class="container" id="conclusion">
<h2>Závěr</h2>
S tématem hospodaření s vodou a klimaticky odolné krajiny Piráti kandidovali do poslaneckých voleb roku 2017. Řadu navrhovaných opatření jsme v tomto volebním období představili, některá prosadili. Tématům sucha, vody, krajiny a klimatické změny se věnujeme i v rámci dalších aktivit – pořádáme vzdělávací akce či poslanecké semináře o dostupnosti, kvalitě a ceně pitné vody, financování ochrany klimatu, budoucnosti našich lesů a kůrovcové kalamitě, agrolesnictví nebo potenciálu konopí.
Dokument je schváleným výstupem Poslaneckého klubu Pirátů. 
  </div>
</section> 




<section class="invert">
  <div class="container" id="source"><h2><i class="fa-li fa fa-link"> <a href="plan.pdf">VODU ŘEŠÍME TEĎ - PDF</a></i></h2>
  </div>
</section>
</body>

<script>
  $.fn.bootstrapDropdownHover();
</script>
<script src="js/chart.js"></script>
</html>
