---
layout: blank
---
<!DOCTYPE html>
<html lang="cs" dir="ltr" itemtype="http://schema.org/WebPage" itemscope="" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Koronavirový plán</title>
  <meta name="author" content="Česká pirátská strana"/>
  <meta name="robots" content="index,follow"/>
  <meta name="description" content="Plán Pirátů ke koronaviru">
  <meta name="keywords" content="piráti, česká pirátská strana, koronavirus, COVID-19/>
    <!-- Favicons -->
    <link rel=" apple-touch-icon-precomposed
  " sizes="57x57" href="/assets/img/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/img/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/img/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/img/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/assets/img/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/img/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/img/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/img/favicon/apple-touch-icon-152x152.png">
  <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-196x196.png" sizes="196x196">
  <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-128x128.png" sizes="128x128">
  <link rel="alternate" type="application/rss+xml" title="Rozcestník Pirátů ke koronaviru RSS" href="/feed.xml">
  <meta name="application-name" content="Rozcestník Pirátů ke koronaviru">
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="msapplication-TileImage" content="/assets/img/favicon/mstile-144x144.png">
  <meta name="msapplication-square70x70logo" content="/assets/img/favicon/mstile-70x70.png">
  <meta name="msapplication-square150x150logo" content="/assets/img/favicon/mstile-150x150.png">
  <meta name="msapplication-wide310x150logo" content="/assets/img/favicon/mstile-310x150.png">
  <meta name="msapplication-square310x310logo" content="/assets/img/favicon/mstile-310x310.png">
  <meta property="og:url" content="/"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="Koronavirový plán"/>
  <meta property="og:description" content="Plán Pirátů ke koronaviru"/>
  <meta property="og:image" content="https://budoucnostresimeted.cz/assets/img/header.jpg"/>
  <!-- Fonts -->

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
          integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
          integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
          crossorigin="anonymous"></script>
  <script src="js/jquery.bootstrap-dropdown-hover.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
  <script src="js/jquery.csv.min.js"></script>

  <link href="css/custom.css" rel="stylesheet">

  <!-- Matomo -->
  <script type="text/javascript">
    var _paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function () {
      var u = "//matomo.pirati.cz/";
      _paq.push(['setTrackerUrl', u + 'matomo.php']);
      _paq.push(['setSiteId', '110']);
      var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
      g.type = 'text/javascript';
      g.async = true;
      g.defer = true;
      g.src = u + 'matomo.js';
      s.parentNode.insertBefore(g, s);
    })();
  </script>
  <!-- End Matomo Code -->

</head>

<body>

<div>
  <link rel="stylesheet" href="{% asset 'main.css' @path !type %}">
  {% include header.html %}
  {% include js/main.html %}

  {% if site.data.menu.main %}
  {% include menu.html %}
  {% unless page.nosubmenu %}
  {% include submenu.html %}
  {% endunless %}
  {% endif %}
</div>

<section>
  <div class="container">
    <h2>Úvod</h2>
    <p class="font-weight-bold">Česko má teď jasné cíle zastavit šíření koronaviru na našem území, zachránit
      ekonomickou situaci země
      a pomoci tak lidem, organizacím i firmám. Piráti se k těmto cílům také hlásí a ve vedení Prahy, dalších
      samospráv
      i v konstruktivní opozici ve sněmovně se na nich naplno podílíme.
    </p>

    <p class="font-weight-normal">Piráti kladou důraz na to, aby se stát ke krizi postavil chytře, utrpěli jsme co
      nejmenší ztráty a naše další kroky vedly
      k posunu naší ekonomiky a kvality života směrem k těm nejvyspělejším zemím.</p>
    <p class="font-weight-normal">Plošná omezení vlády jsou sice jednoduchá, ale při delším používání zbytečně
      drahá. Aktuální data ukazují, že šíření
      nákazy je v Česku za vrcholem a daří se nám počet nově nakažených úspěšně snižovat (údaje k 26. 4.). Proto
      je
      možné plošná opatření omezit a více se soustředit na chytrá řešení.</p>
    <h3>Nákaza koronavirem v Česku</h3>
    <div id="spread-chart-container">
      <canvas id="spread-chart"></canvas>
    </div>
    <p><span class="font-weight-bold">Graf č. 1:</span> Počet detekovaných případů denně v České republice – sedmidenní
      pohyblivý průměr. Graf ukazuje, kdy byla zavedena plošná celostátní opatření a kdy se projevila. Detekovaná data
      mají cca 11 dní zpoždění proti skutečnému počtu nakažených (např. kvůli inkubační době
      a vyhledávání nakažených). Zdroj: Ministerstvo zdravotnictví, vlastní výpočty</p>
    <ul>
      <li><span class="font-weight-bold">Chytrá řešení</span> nejsou nutně digitální, ale ta s vysokým poměrem ceny a
        výkonu v dostatečně rychlém čase. Máme vyšší ambice než se vrátit před začátek epidemie. Krize nás sice silně
        zatíží, ale přinese i nové příležitosti a chceme, aby je Česko využilo. Chceme upřednostnit investice do
        oblastí, které nejvíce pomůžou vyspělosti a pokroku
        české ekonomiky. Chceme být mozkovnou, ne montovnou, protože krize ukázala, jaký potenciál leží v našich
        lidech a firmách. Stejnou cestou musí jít stát, ať už jde o elektronické vyřizování věcí na úřadech či studium a
        práci z domova, nebo nové způsoby spolupráce napříč obory se zapojením vědeckých kapacit. U všech opatření je
        třeba pečlivě vyhodnotit dopad na svobodu a soukromí a lidem je srozumitelně vysvětlit.
      </li>
      <li><span class="font-weight-bold">Chytré plánování</span> nejde proti vládní snaze řešit krizi, ale doplňuje ji o
        nové konkrétní podněty, kde jsme se inspirovali zeměmi, které si vedou lépe než Česko a poučily se z viru SARS.
        Jak ukazuje následující graf, ve srovnání se sousedními zeměmi nejsme supermani, ale ani nijak nezaostáváme –
        jsme na tom průměrně. Měli jsme vyšší podíl nakažených než Slováci, ale míň než Rakušané. Hlavně, že se daří
        snižovat podíl prokázaně nakažených.
      </li>
    </ul>
    <h3>Šíření Nákazy koronaviru v Česku a sousedních státech</h3>
    <img src="assets/img/grafs/2.png">
    <p><span class="font-weight-bold">Graf č. 2:</span> Srovnání detekovaného počtu nakažených k danému dni pro Českou
      republiku a sousední země. Zobrazeny jsou sedmidenní pohyblivé průměry počtu nakažených na milion obyvatel. Zdroj:
      <a href="https://ourworldindata.org/grapher/covid-daily-cases-trajectory-per-million?country=AUT+CZE+DEU+POL+SVK">Our
        World in Data</a></p>
    <p>Tento ani žádný jiný plán není vytesaný do kamene. Nezbytnou součástí našeho plánu je i <span
      class="font-weight-bold">pružná reakce na aktuální
      situaci.</span> Ale jak řekl vynálezce a státník Benjamin Franklin: „pokud selžete v plánování, plánujete tím
      svoje
      selhání“. Právě k chytřejšímu zvládnutí boje proti koronaviru a budoucích krizí má tento plán Pirátů přispět.</p>
    <p>Nyní již následují tři části plánu podle horizontu, ve kterém je vhodné opatření přijmout: do prázdnin, do konce
      roku a pro další budoucnost. V plánu jsme označili:</p>
    <ul class="fa-ul program-items">
      <li><i class="fa-li fa fa-check"></i><span class="font-weight-bold">fajfkou</span> doporučení pro vládu, co <span
        class="font-weight-bold">má</span> dělat,</li>
      <li><i class="fa-li fa fa-times"></i><span class="font-weight-bold">křížkem</span> doporučení pro vládu, co <span
        class="font-weight-bold">nemá</span> dělat.</li>
    </ul>
  </div>
</section>
<section class="invert">
  <div class="container" id="section-1">
    <h2>Do prázdnin</h2>
    <p class="font-weight-normal">Od poloviny dubna je potvrzen pokles počtu nově zjištěných případů nákazy
      koronavirem. Pokud vše půjde, jak má, v polovině května přejde první vlna
      epidemie, tedy absolutní počet nově nakažených se v několikadenním průměru
      dostane pod 20 denně a nebude růst. Do prázdnin je tedy cílem <span class="font-weight-bold">zabránit
            přenašečům v šíření nákazy, uvolňovat plošná epidemiologická opatření</span>,
      sledovat dopad uvolnění a souběžně <span class="font-weight-bold">řešit ekonomické problémy firem
            a domácností.</span> V této fázi je zásadní dodat firmám likviditu a udržet je nad vodou
      pomocí plošné ekonomické pomoci, protože není čas vyhodnocovat její zacílení. </p>
  </div>
</section>
<section>
  <div class="container" id="section-1-1">
    <div class="row">
      <div class="col-sm">
        <div class="program-element-header">
          <h3>Zdraví a bezpečnost</h3>
          <img src="assets/img/program/zdravotnictvi.png" class="program-logo">
        </div>
        <h6>ZABRÁNIT ZBYTEČNÝM OBĚTEM NA ŽIVOTECH A ZDRAVÍ</h6>
        <ul class="fa-ul program-items">
          <li><i class="fa-li fa fa-check"></i>Zvýšit <span
            class="font-weight-bold">testování v populaci</span> a vytížení testovacích laboratoří a
            trénovat hygieniky do zálohy.
          </li>
          <li><i class="fa-li fa fa-check"></i>Dopracovat chytrou karanténu, aby působila i preventivně. Nejen
            ke zpětnému dohledání kontaktů,
            ale také jako
            možná kontrola dodržování karantény, případně by varovala své uživatele před rizikovými oblastmi
            a hygienikům
            by usnadnila výběr osob k testování. Aplikace by mohla sloužit jako propustka pro pendlery.
          </li>
          <li><i class="fa-li fa fa-times"></i>Nechceme <span
            class="font-weight-bold">zbytečné zásahy do soukromí</span>,
            proto by měla být účast na chytré karanténě dobrovolná a
            alternativně
            bude možné si vybrat tradiční kontrolu hygieniky či policií. Na ochranu osobních dat dohlíží
            stálá komise
            Poslanecké sněmovny.
          </li>
          <li><i class="fa-li fa fa-check"></i><span
            class="font-weight-bold">Zveřejnit epidemiologické modely</span> pro ČR, podrobná data,
            scénáře, úrovně pohotovosti/alertů a
            odpovídající
            opatření dle konkrétních epidemiologických ukazatelů. Cílem je umožnit podnikatelům a obyvatelům
            ČR se lépe
            připravit na situaci v delším časovém horizontu.
          </li>
          <li><i class="fa-li fa fa-check"></i>Zveřejnit očekávanou <span class="font-weight-bold">potřebu systému péče, zdravotnických pomůcek, přístrojů a léčiv</span>
            a s předstihem zajistit
            její pokrytí přednostně od firem vyrábějící na území České republiky.
          </li>
          <li><i class="fa-li fa fa-check"></i>Požadujeme po vládě <span class="font-weight-bold">koordinaci postupu v rámci EU</span>
            mj. v oblasti pohybu osob a práv k nehmotným
            statkům
            u léčiv, prostředků a přístrojového vybavení během takových krizí, aby se staly dostupnější pro
            státy EU.
          </li>
        </ul>
      </div>
      <div class="col-sm">
        <div class="program-element-header">
          <h3>Ekonomika</h3>
          <img src="assets/img/program/finance.png" class="program-logo">
        </div>
        <h6>ZÁCHRANA EKONOMIKY FIREM A RODIN</h6>
        <ul class="fa-ul program-items">
          <li><i class="fa-li fa fa-check"></i><span class="font-weight-bold">Poskytnout likviditu</span>
            domácnostem a firmám, <span class="font-weight-bold">aby nespadly na dno,</span> mohly udržet
            zaměstnance a
            nezkrachovaly.
            Předložili jsme návrh na daňový bonus, který umožňuje čerpat navýšenou slevu na poplatníka na
            rok 2020 nyní
            a zohlednit ji při vyúčtování daní v březnu 2021.
          </li>
          <li><i class="fa-li fa fa-check"></i><span
            class="font-weight-bold">Otevírat postupně provozovny</span> za zpřísněných hygienických
            podmínek, počínaje těmi s
            nejvýhodnějším poměrem
            epidemiologického rizika a očekávaných ekonomických přínosů. Pirátský návrh.
          </li>
          <li><i class="fa-li fa fa-check"></i><span
            class="font-weight-bold">Zrychlit a zjednodušit pomoc.</span> Příkladem přebujelé byrokracie
            je program půjček Covid II.
            Kurz-arbeit pro malé
            a střední podniky musí být lehce administrovatelný a v dostatečné výši.
          </li>
          <li><i class="fa-li fa fa-check"></i>Není přijatelné, aby <span class="font-weight-bold">stát zcela přenesl náklady</span>
            boje s nemocí na firmy, kterým zakázal provoz.
            Je nutné alespoň
            zčásti hradit fixní náklady provozoven zavřených ze zákona, <span class="font-weight-bold">především nájmy. Piráti navrhli
                        vládě hradit
                        částečné kompenzace</span> na základě vzorce z metodiky.
          </li>
          <li><i class="fa-li fa fa-times"></i>Je třeba zamezit tomu, aby <span class="font-weight-bold">státní podpora končila</span>
            namísto u
            postižených firem <span class="font-weight-bold">v kapsách velkých
                        bank nebo
                        pouze velkých firem.</span> Stát by měl podporovat pouze společnosti, které řádně odvádí v Česku
            daně,
            nevyplácí
            v době krize dividendy a nezneužívají daňových rájů.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container" id="section-1-2">
    <div class="row">
      <div class="col-sm">
        <div class="program-element-header">
          <h3>Soudržná společnost</h3>
          <img src="assets/img/program/prace-a-socialni-veci.png" class="program-logo">
        </div>
        <h6>POMOC TĚM, KTEŘÍ TO POTŘEBUJÍ NEJVÍCE</h6>
        <ul class="fa-ul program-items">
          <li><i class="fa-li fa fa-check"></i><span class="font-weight-bold">Zajistit, aby</span> díky
            flexibilní dávce mimořádné okamžité pomoci
            <span class="font-weight-bold">nikdo nepropadával na úplné dno.</span>
            Efektivní
            podporu musí vláda zajistit nejen zaměstnancům a OSVČ. V potížích jsou i pracující na DPČ či
            DPP, lidé
            s hendikepem, osoby bez zdanitelných příjmů, a samozřejmě ti, kdo pečují o školou povinné děti,
            natož jako
            samoživitelé a samoživitelky.
          </li>
          <li><i class="fa-li fa fa-check"></i><span class="font-weight-bold">Posílit finančně, odborně, metodicky i personálně úřady práce.</span>
            Ty jsou už nyní velmi zatížené
            novými žádostmi
            a v následujících měsících počet klientů ještě naroste. Zároveň je nutné maximálně podpořit
            <span class="font-weight-bold">digitalizaci
                        a elektronizaci komunikace úřadu s klienty,</span> IT v rámci rezortu MPSV je v rozkladu. U nově
            vyvíjených řešení
            vyloučit závislost na dodavateli (vendor lock-in).
          </li>
          <li><i class="fa-li fa fa-check"></i>Ve spolupráci s obcemi nastavit a finančně podpořit systémové
            řešení <span class="font-weight-bold">pro fungování lidí bez
                        domova,
                        v azylových domech, lidí v noclehárnách a denních centrech,</span> zejména s ohledem na
            karanténní
            pobyty. Stát
            naprosto <span class="font-weight-bold">opomenul</span> starost o lidi bez domova.
          </li>
        </ul>
      </div>
      <div class="col-sm">
        <div class="program-element-header">
          <h3>Vzdělávání</h3>
          <img src="assets/img/program/vzdelavani.png" class="program-logo">
        </div>
        <h6>JAK UČIT TEĎ A PLÁN NÁVRATU DOŠKOL</h6>
        <ul class="fa-ul program-items">
          <li><i class="fa-li fa fa-check"></i>Posílit metodickou podporu učitelů v oblasti <span
            class="font-weight-bold">online výuky</span> z
            hlediska nastavení vzdělávacího
            procesu včetně
            pravidel pro hodnocení žáků a ICT podpory.
          </li>
          <li><i class="fa-li fa fa-check"></i>Zaměřit se na materiální i pedagogickou <span
            class="font-weight-bold">podporu znevýhodněných
                        skupin žáků</span> a žáků v posledních
            ročnících,
            kteří se připravují na přijímací a závěrečné zkoušky.
          </li>
          <li><i class="fa-li fa fa-check"></i>Příprava <span class="font-weight-bold">plánu škol</span> v
            souvislosti s návratem žáků do škol a
            doporučení, jak s nimi pracovat z
            hlediska jejich
            adaptace a zajištění bezpečnostních opatření.
          </li>
          <li><i class="fa-li fa fa-check"></i>Zohlednění zdravotních rizik v případě starších učitelů i
            rodinných příslušníků.
          </li>
          <li><i class="fa-li fa fa-times"></i>Nevyžadovat zákonné dodržování školních vzdělávacích programů v
            plném rozsahu.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container" id="section-1-3">
    <div class="row">
      <div class="col-sm">
        <div class="program-element-header">
          <h3>Modernizace země</h3>
          <img src="assets/img/program/informatika.png" class="program-logo">
        </div>
        <h6>POKROK, KTERÝ JE VIDĚT</h6>
        <ul class="fa-ul program-items">
          <li><i class="fa-li fa fa-check"></i><span class="font-weight-bold">Zjednodušit elektronické formuláře na akutní věci.</span>
            Stát vydal
            online formuláře k ošetřovnému, 25
            tisíc pro OSVČ
            či skrze úřady práce. Jsou zbytečně složité a chybí automatizace. Pár dnů práce dobrého IT týmu
            by zrychlilo
            pomoc, ušetřilo desítky tisíc hodin práce lidí a snížilo frustraci.
          </li>
          <li><i class="fa-li fa fa-check"></i><span
            class="font-weight-bold">Plná transparence řízení státu.</span> Krize je příležitostí k
            obnovení důvěry. Proto by měla vláda
            transparentně
            a srozumitelně informovat lidi o svých rozhodnutích a zdůvodnit je, zveřejnit ceny nákupů z ruky
            v době krize,
            a také hlídat, jak a komu platí dotace z peněz daňových poplatníků.
          </li>
          <li><i class="fa-li fa fa-check"></i><span class="font-weight-bold">Maximálně zapojit občanské iniciativy do modernizace země.</span>
            Řadu
            činností i inovací mohou
            zajistit neziskové
            aktivity občanů i byznysu (roušky, ochranné štíty, data). Vláda jim má dát co největší prostor a
            podporu
            (zejm. organizační, propagační).
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="invert">
  <div class="container" id="section-2">
    <h2>Do konce roku 2020</h2>
    <p class="font-weight-normal">Po potlačení epidemie na úroveň cca 20 nových případů denně by měl být
      vyhlášen <span class="font-weight-bold">nižší stupeň pandemické pohotovosti,</span> zahrnující mírnější
      opatření
      jako prevenci druhé vlny pandemie v ČR, která by opět přetížila zdravotní systém
      a způsobila zbytečná úmrtí. Problém je, že kvůli inkubační době, nemocným
      bez vnějších příznaků a nedostatečné detekci, novou vlnu zjistíme s cca 11denním
      zpožděním. V době, kdy detekujeme 20 případů, tak může být skutečný počet
      až třicetkrát vyšší.
      I během nižšího stupně pohotovosti by měla platit <span class="font-weight-bold">mírnější opatření
                společenského odstupu</span> (např. počet osob v obchodě či restauraci). Stát bude
      moci <span class="font-weight-bold">nahradit plošnou pomoc cílenějšími podporou</span> (např. místo dotací
      částečně
      záruky za úvěry). Případné změny zákonů by měly být koncipovány tak, aby
      nevyvolaly potíže v dosud nezasažených odvětvích a nevedly k dlouhodobému
      poklesu platební morálky. Mírnější režim také poskytne <span class="font-weight-bold">čas na vývoj, testování
                a nasazení léku či vakcíny.</span></p>
  </div>
</section>
<section>
  <div class="container" id="section-2-1">
    <div class="row">
      <div class="col-sm">
        <div class="program-element-header">
          <h3>Zdraví a bezpečnost</h3>
          <img src="assets/img/program/zdravotnictvi.png" class="program-logo">
        </div>
        <h6>POUČIT SE A POSÍLIT ZDRAVOTNICKÝ SYSTÉM</h6>
        <ul class="fa-ul program-items">
          <li><i class="fa-li fa fa-check"></i>Urychleně <span class="font-weight-bold">přijmout zákon o elektronizaci zdravotnictví,</span>
            aby
            pacienti měli kontrolu nad zdravotní
            péčí, její
            dostupností a nad svými daty. Aby nemuseli trávit čas v rizikových čekárnách zdravotnických
            zařízení. A aby
            lékaři mohli komunikovat mezi sebou a svými pacienty elektronicky.
          </li>
          <li><i class="fa-li fa fa-check"></i>Je zapotřebí <span class="font-weight-bold">zabezpečit financování českého zdravotnictví.</span>
            Očekávané propady v příjmech nesmí
            narušit
            dostupnost zdravotní péče a ohrozit kritické investice či personální stav v nemocnicích. Stát
            musí navýšit platbu
            za státní pojištěnce, aby pokryl výpadek příjmů.
          </li>
          <li><i class="fa-li fa fa-check"></i><span class="font-weight-bold">Zpětná vazba z pandemie.</span>
            Vláda by měla zpracovat zprávu s vypořádáním připomínek odborníků, aktualizovat
            Pandemický plán a provést potřebné změny. Nesmí se opakovat, že Ministerstvo zdravotnictví
            zanedbá přípravu
            a zbytečně budou chybět masky nebo umírat lidi.
          </li>
          <li><i class="fa-li fa fa-check"></i>Zaměřit se na <span class="font-weight-bold">rekondice zdravotního personálu,</span>
            který je v
            současné krizi vystaven vysokému
            stresu
            a mimořádným službám. Nejen je dostatečně finančně ohodnotit, ale poskytnout i čas na
            regeneraci. Například
            i <span class="font-weight-bold">pobytem v českých lázních, čímž lze zajistit i částečnou záchranu a obnovu tohoto sektoru
                        hospodářství.</span>
          </li>
          <li><i class="fa-li fa fa-check"></i>Připravit <span
            class="font-weight-bold">kapacitu českého zdravotnictví</span>
            pro případnou další
            vlnu pandemie koronaviru na území
            ČR včetně
            možného využití lázeňství.
          </li>
          <li><i class="fa-li fa fa-check"></i>Stát by měl vybudovat <span
            class="font-weight-bold">logistické zázemí,</span>
            aby zvládal nákup
            zdravotních pomůcek od mnoha
            dodavatelů
            a dodávky samosprávám. Zmapování výrobních procesů ochranných pomůcek a dalších strategických
            materiálů
            na území ČR, aby bylo možné v případě dalších problémů urychleně rozjet výrobu.
          </li>
        </ul>
      </div>
      <div class="col-sm">
        <div class="program-element-header">
          <h3>Ekonomika</h3>
          <img src="assets/img/program/finance.png" class="program-logo">
        </div>
        <h6>ZABRÁNIT KRACHŮM A ZJEDNODUŠIT ROZJEZDY</h6>
        <ul class="fa-ul program-items">
          <li><i class="fa-li fa fa-check"></i>Podpořit <span class="font-weight-bold">české, případně evropské společnosti.</span>
            Státní veřejné
            zakázky by měly podporovat lokální
            ekonomiku
            obdobně jako v jiných členských státech EU. Zakázky musí být dostupné i pro malé firmy, aby měly
            stejné
            příležitosti k růstu.
          </li>
          <li><i class="fa-li fa fa-check"></i><span class="font-weight-bold">Úvěrový program s částečnou státní garancí pro záchranu
                        perspektivních firem</span> s problémy s cash
            flow, podobně
            jako rychlý úvěrový program Švýcarské vlády ve spolupráci se soukromými bankami.
          </li>
          <li><i class="fa-li fa fa-check"></i><span class="font-weight-bold">Podpora startu podnikání:</span>
            Koronavirová krize je pro občany i
            podnikatele těžká zkouška. Každá
            krize je zároveň
            příležitostí pro nový začátek. Chceme podpořit všechny občany, kteří se rozhodnou v téhle
            nelehké době začít
            podnikat.
            <ul>
              <li><span class="font-weight-bold">Vedle půjček na udržení podnikání podpořit i půjčky na rozjezd nového podnikání.</span>
              </li>
              <li><span class="font-weight-bold">Zrušit minimální vyměřovací základ sociálního a zdravotního pojištění v prvním roce.</span>
              </li>
              <li><span class="font-weight-bold">Firmu bude možné založit během jednoho dne online.</span>
              </li>
            </ul>
          </li>
          <li><i class="fa-li fa fa-times"></i><span
            class="font-weight-bold">Zabránit porcování medvěda</span> – S velkou pozorností
            vyhodnocujeme
            ekonomické návrhy vlády, <span class="font-weight-bold">odmítáme
                        princip
                        socializace nákladů a privatizace zisků,</span> který vnímáme velmi silně především u zpětného
            uplatnění daňové
            ztráty, u kterého hrozí zbytečné náklady státu přes 100 mld.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container" id="section-2-2">
    <div class="row">
      <div class="col-sm">
        <div class="program-element-header">
          <h3>Soudržná společnost</h3>
          <img src="assets/img/program/prace-a-socialni-veci.png" class="program-logo">
        </div>
        <h6>DOSTUPNÉ BYDLENÍ A PÉČE OPOTŘEBNÉ</h6>
        <ul class="fa-ul program-items">
          <li><i class="fa-li fa fa-check"></i>Uvolnit peníze <span class="font-weight-bold">pro poskytovatele sociálních a
                        sociálně-zdravotních služeb a zajistit jejich
                        plynulé financování</span>
            po zbytek roku a další léta. Podpořit rozvoj terénních služeb a transformaci zařízení ústavního
            typu na komunitní,
            jež jsou i bezpečnější při šíření infekce.
          </li>
          <li><i class="fa-li fa fa-check"></i>Schválit <span class="font-weight-bold">zákon na podporu dostupnosti bydlení.</span>
            Mít střechu nad
            hlavou je základ důstojného
            života a krize to
            jasně ukazuje. Program Výstavba neřeší nízké procento obecního nájemního bydlení.
          </li>
          <li><i class="fa-li fa fa-check"></i>Prosadit <span
            class="font-weight-bold">krajskou působnost exekutorů</span>
            a slučování exekucí na
            principu jeden dlužník = jeden
            exekutor jako
            prevenci hromadění exekucí u lidí, kteří se do nich nově dostanou. Zrychlit insolvence dle
            evropského modelu
            (bez podmínky splacení 30 %). Exekuce, které jsou řadu let nevymahatelné, by měly být ukončeny i
            bez souhlasu
            věřitele.
          </li>
        </ul>
      </div>
      <div class="col-sm">
        <div class="program-element-header">
          <h3>Vzdělávání</h3>
          <img src="assets/img/program/vzdelavani.png" class="program-logo">
        </div>
        <h6>NÁVRAT DOŠKOL A POSÍLENÍ PEDAGOGICKÉ PODPORY</h6>
        <ul class="fa-ul program-items">
          <li><i class="fa-li fa fa-check"></i>Realizace plánu pro návrat žáků do škol se zohledněním
            zdravotních opatření.
          </li>
          <li><i class="fa-li fa fa-check"></i>Finanční podpora pro školy, které zajišťují <span
            class="font-weight-bold">doučování</span> z důvodu
            ztížených podmínek pro přípravu
            žáků
            v období krize.
          </li>
          <li><i class="fa-li fa fa-check"></i>Posílení <span
            class="font-weight-bold">poradenské a pedagogické podpory</span>
            pro žáky se speciální
            vzdělávacími potřebami.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container" id="section-2-3">
    <div class="row">
      <div class="col-sm">
        <div class="program-element-header">
          <h3>Modernizace země</h3>
          <img src="assets/img/program/informatika.png" class="program-logo">
        </div>
        <h6>PRUŽNĚJŠÍ STÁT A ROZVOJ OBCÍ</h6>
        <ul class="fa-ul program-items">
          <li><i class="fa-li fa fa-check"></i>Zveřejnit <span class="font-weight-bold">plán digitalizace země podle zákona o právu na
                        digitální služby</span> a přednostně
            realizovat zásadní
            daňové, pracovní a sociální agendy přes Internet.
          </li>
          <li><i class="fa-li fa fa-check"></i>Část <span class="font-weight-bold">investic státu má jít na projekty obcí,</span>
            které mají v
            šuplíku a vytvoří dostatek <span class="font-weight-bold">pracovních
                        příležitostí</span>
            v oblastech, které jsou prioritou regionů, např. <span class="font-weight-bold">na krajinářské úpravy proti suchu, rozvoj
                        dopravní infrastruktury</span>
            (zejm. železnic), cvičení v přírodě či ekologickou adaptaci.
          </li>
          <li><i class="fa-li fa fa-times"></i><span class="font-weight-bold">Nezneužívat krizi k zastavení dlouhodobých projektů pro
                        ekologickou modernizaci země,</span> jako jsou
            Zelená
            dohoda pro Evropu, projektování silniční a železniční sítě či obnova krajiny, prevence sucha a
            nevyužití odpadů.
            Tyto projekty a jejich financování jsou příležitostí, ne hrozbou.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="invert">
  <div class="container" id="section-3">
    <h2>Budoucnost</h2>
    <p class="font-weight-normal">Prognózy na dobu delší než cca 2 roky jsou velmi nejisté. Lze však dobře vidět,
      jak
      se nám vymstila nečinnost vlády v době růstu ekonomiky. Mohli jsme být na krizi
      na MZ ČR podstatně lépe připraveni a mít funkční e-Government. Už <span class="font-weight-bold">nesmíme
            chybu opakovat.</span> Jakmile bude vynalezen a otestován lék či vakcína a použijeme
      je v populaci, je třeba se opět zaměřit na <span class="font-weight-bold">dlouhodobé cíle zvýšení kvality života
            a udržitelného rozvoje společnosti a napravit dlouho neřešené problémy.</span> Proto
      bude také nutné získat peníze na modernizaci země.
      <span class="font-weight-bold">Podporujeme posílení spolupráce v Evropské unii</span> v oblasti ekonomických
      i bezpečnostních opatření při krizi podobného rozsahu. Rychlá reakce pro omezení
      přístupu do Schengenského prostoru v případě pandemie šířící se z vnějšku
      umožní mírnější opatření na hranicích jednotlivých členských států.
  </div>
</section>
<section>
  <div class="container" id="section-3-1">
    <div class="row">
      <div class="col-sm">
        <div class="program-element-header">
          <h3>Zdraví a bezpečnost</h3>
          <img src="assets/img/program/zdravotnictvi.png" class="program-logo">
        </div>
        <h6>MODERNIZACE ZDRAVOTNÍ PÉČE</h6>
        <ul class="fa-ul program-items">
          <li><i class="fa-li fa fa-check"></i>Většina dlouhodobých opatření v českém zdravotnictví úzce
            souvisí i s jeho digitalizací a důslednou
            <span class="font-weight-bold">implementací zákona o e-Health.</span> Celý sektor se musí
            propojit. Každý získá přehled o své
            zdravotní péči a lékař
            bude mít přístup ke zdravotní dokumentaci pacienta.
          </li>
          <li><i class="fa-li fa fa-check"></i><span class="font-weight-bold">Pacient nebude čekat dlouhé hodiny v čekárnách a měsíce na
                        plánované vyšetření.</span> Prostřednictvím chytrých
            aplikací si zvolí nejvhodnější způsob a místo vyšetření a mnoho diagnóz provedou lékaři vzdáleně
            díky využití
            telemedicíny.
          </li>
          <li><i class="fa-li fa fa-check"></i>Systém českého zdravotnictví se tak stane <span
            class="font-weight-bold">více transparentním a
                        to povede ke zvýšení efektivity</span>. Tím pádem
            i ke zlepšení dostupnosti peněz ve zdravotnictví.
          </li>
          <li><i class="fa-li fa fa-check"></i>Budeme motivovat <span class="font-weight-bold">mladé mediky a zdravotníky</span>
            odbouráním nadměrné
            administrativy a požadavků při získávání
            odborných zkoušek
          </li>
        </ul>
      </div>
      <div class="col-sm">
        <div class="program-element-header">
          <h3>Ekonomika</h3>
          <img src="assets/img/program/finance.png" class="program-logo">
        </div>
        <h6>KRIZE JAKO PŘILEŽITOST</h6>
        <ul class="fa-ul program-items">
          <li><i class="fa-li fa fa-check"></i><span class="font-weight-bold">Zjednodušení placení daní a snížení zdanění práce:</span>
            Sjednotíme
            výběr daně z příjmů fyzických osob a pojistného
            na zdravotního pojištění, omezíme množství daňových výjimek, zvýhodňující úzké zájmové skupiny.
            Tyto kroky
            umožní snížit zdanění práce všem zaměstnancům.
          </li>
          <li><i class="fa-li fa fa-check"></i><span class="font-weight-bold">Omezení odlivu zdrojů do zahraničí:</span>
            Ročně z Česka odplyne do
            zahraničí více než 400 miliard korun, asi 40 tisíc
            korun na každého občana. Abychom mohli financovat modernizaci země, je nutné tento odliv
            přiblížit úrovni
            průměru EU.
          </li>
          <li><i class="fa-li fa fa-check"></i>Navrhujeme důslednou kontrolu transferových plateb a racionální
            úpravu zdanění komerčních nemovitostí.
          </li>
          <li><i class="fa-li fa fa-check"></i><span
            class="font-weight-bold">Ekonomika EU by měla být soběstačnější</span>
            bez kritické závislosti
            na dalších státech. To znamená, že Evropská
            unie by měla mít pro zdravotní pomůcky a kritickou infrastrukturu vlastní evropskou výrobu
            schopnou akčně
            reagovat na krizové situace.
          </li>
          <li><i class="fa-li fa fa-times"></i><span class="font-weight-bold">Podpora moderní výroby:</span>
            krize je pro nás příležitostí k
            modernizaci ekonomiky. Vládní podpora by měla
            dlouhodobě směřovat především do moderních podniků využívající digitální technologie, které jsou
            šetrné
            k životnímu prostředí.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container" id="section-3-2">
    <div class="row">
      <div class="col-sm">
        <div class="program-element-header">
          <h3>Soudržná společnost</h3>
          <img src="assets/img/program/prace-a-socialni-veci.png" class="program-logo">
        </div>
        <h6>UDRŽITELNOST SYSTÉMŮ SOLIDARITY</h6>
        <ul class="fa-ul program-items">
          <li><i class="fa-li fa fa-check"></i>Zajistit <span class="font-weight-bold">stabilní financování sociálních služeb</span>
            tak, aby bylo
            předvídatelné a dlouhodobě plánovatelné, a to jak pro
            poskytovatele sociální péče, tak zaměstnance.
          </li>
          <li><i class="fa-li fa fa-check"></i><span class="font-weight-bold">Modernizovat</span> služby
            poskytované <span class="font-weight-bold">Úřady práce</span> podle osvědčené
            zahraniční praxe zaměřené na efektivní
            individuální podporu a aktivizaci každého jednotlivce.
          </li>
          <li><i class="fa-li fa fa-check"></i>Reformu potřebuje:
            <ul>
              <li><span class="font-weight-bold">důchodový systém</span> – udržitelnost a postupný přechod
                z plného úvazku do částečného,
              </li>
              <li><span class="font-weight-bold">dávkový systém</span> – jednoduchost, účinnost,
                transparentnost, IT systémy
              </li>
              <li><span class="font-weight-bold">systém ústavní péče</span> – deinstitucionalizace a
                komunitní, domácí a terénní služby.
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-sm">
        <div class="program-element-header">
          <h3>Vzdělávání</h3>
          <img src="assets/img/program/vzdelavani.png" class="program-logo">
        </div>
        <h6>ZKVALITNĚNÍ TECHNOLOGIE VÝUKY</h6>
        <ul class="fa-ul program-items">
          <li><i class="fa-li fa fa-check"></i><span class="font-weight-bold">Podpora vzdělávání učitelů v oblasti využívání ICT ve výuce</span>
            a
            rozvíjení digitálních i odborných kompetencí.
            Podpora inovativních metod ve výuce.
          </li>
          <li><i class="fa-li fa fa-check"></i>Podpora <span class="font-weight-bold">digitalizace výukových a učebních materiálů</span>
            a vytvoření
            otevřené a veřejně přístupné <span class="font-weight-bold">národní
                        digitální knihovny.</span>
          </li>
          <li><i class="fa-li fa fa-check"></i><span class="font-weight-bold">Příprava vzdělávacích programů pro realizaci distanční výuky</span>
            a
            jejich využití v rámci individuálního vzdělávání
            a v případě dalšího omezení prezenční výuky na školách.
          </li>
          <li><i class="fa-li fa fa-check"></i>Zajistit materiální vybavení škol, které lze v případě potřeby
            zapůjčit žákům pro kompletní materiální zajištění
            distanční výuky.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container" id="section-3-3">
    <div class="row">
      <div class="col-sm">
        <div class="program-element-header">
          <h3>Modernizace země</h3>
          <img src="assets/img/program/informatika.png" class="program-logo">
        </div>
        <h6>RYCHLÝ A AKCESCHOPNÝ DIGITÁLNÍ STÁT</h6>
        <ul class="fa-ul program-items">
          <li><i class="fa-li fa fa-check"></i><span
            class="font-weight-bold">Vybudování odborného analytického zázemí.</span>
            Vláda by měla zřídit
            odbornou státní instituci, kde tým analytiků
            rychle a kvalifikovaně navrhne řešení zadaného problému na základě dat a vhodné adaptace
            mezinárodních
            zkušeností na české podmínky.
          <li><i class="fa-li fa fa-check"></i>Je třeba <span class="font-weight-bold">urychlit práci Ministerstva vnitra na zavedení zákona
                        o právu na digitální služby,</span> maximum služeb
            zdigitalizovat do roka, všechny pak do konce roku 2022. Lidé potřebují pohodlí a rychlou
            komunikaci se státem.
            Potřebujeme přesměrovat ušetřené peníze do investic.
          </li>
          <li><i class="fa-li fa fa-times"></i>Zajistíme, že pandemie nebude zneužita a nepovede k
            nekontrolované moci státu nad občany. Ochrana soukromí
            a nástroje, kterými dostaneme vir pod kontrolu, musí jít ruku v ruce.
          </li>
          <li><i class="fa-li fa fa-check"></i>Stát má hledat <span class="font-weight-bold">synergii chytrých projektů s dobou,</span>
            protože
            chceme Česko na špičce Evropy. Nápadů je spousta,
            např. v umělé inteligenci, ve vzdělávání a infrastruktuře pro dopravní inovace. Vláda má mít
            přehled a umést
            cestičku projektům spojeným i s výzkumem a vývojem, na nichž vystavíme naši budoucí prosperitu.
          </li>
          <li><i class="fa-li fa fa-check"></i>Zřídíme <span class="font-weight-bold">centrum rozsáhlé finanční a konzultační podpory
                        digitální transformace země</span> od středních firem
            po živnostníky
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container" id="conclusion">
    <h2>Závěr</h2>
    <p>Dokument je výstupem Poslaneckého klubu Pirátů.</p>
    <p> Na jeho tvorbě se podíleli Ivan Bartoš, Petr Třešňák (gestor části Zdravotnictví
      a bezpečnost), Lukáš Kolářík, Josef Pavlovič, Mikuláš Ferjenčík (gestor části
      Ekonomika), Tomáš Martínek, Tomáš Kopečný, Olga Richterová (gestorka části
      Soudržná společnost), Zuzana Freitas, Lukáš Bartoň (gestor části Vzdělávání),
      Martin Úlovec a Jakub Michálek (editor a gestor části Modernizace země).</p>
    <p>Děkujeme za připomínky Filipu Matějkovi, Jiřímu Kadeřávkovi a Marku Havrdovi.</p>

    <p>Řada navrhovaných kroků již byla Piráty v tomto volebním období i v období
      pandemie představena a dokonce předložena vládě či sněmovně. Náš společný
      cíl je zřejmý: vymanit se z okovů pandemie a jejích dopadů a díky této zkušenosti
      nasměrovat Českou republiku v následujících měsících a letech zpět na dráhu
      moderní, svobodné, vzdělané a nejen digitálně propojené společnosti.</p>
  </div>
</section>
<section>
  <div class="container" id="source">
    <h2>Použité zdroje</h2>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-link"></i>COVID‑19: Přehled aktuální situace v ČR. Ministerstvo zdravotnictví ČR. 16. 4.
        2020. <a href="https://onemocneni-aktualne.mzcr.cz/covid-19">Dostupné online</a>.
      </li>
      <li><i class="fa-li fa fa-link"></i>Daily confirmed COVID-19 cases per million people. Our World in Data. 16. 4.
        2020. <a
          href="https://ourworldindata.org/grapher/covid-daily-cases-trajectory-per-million?country=AUT+CZE+DEU+POL+SVK">Dostupné
          online</a>.
      </li>
      <li><i class="fa-li fa fa-link"></i>Chytrá karanténa. Ondřej Profant. 1.4.2020. <a
        href="https://www.profant.eu/2020/chytra-karantena.html">Dostupné online</a>.
      </li>
      <li><i class="fa-li fa fa-link"></i>Inštitút zdravotnej politiky. Model šíření koronaviru pro Slovensko. <a
        href="https://izp.sk/covid-19/">Dostupné online</a>.
      </li>
      <li><i class="fa-li fa fa-link"></i>Komentář Tomáše Martínka: Zvýšení daňové slevy na poplatníka a její předčasné
        vyplacení pomůže občanům
        ekonomicky ustát období epidemie. Česká pirátská strana. 23. 3. 2020. <a
          href="https://www.pirati.cz/tiskove-zpravy/danove-slevy-na-poplatnika.html">Dostupné online</a>.
      </li>
      <li><i class="fa-li fa fa-link"></i>Kurzarbeit: zahraniční zkušenost s dotováním zkrácené pracovní doby. IDEA,
        CERGE-EI. 7.4.2020.
        <a href="https://idea.cerge-ei.cz/vystupy/kurzarbeit-zahranicni-zkusenost-s-dotovanim-zkracene-pracovni-doby">Dostupné
          online</a>.
      </li>
      <li><i class="fa-li fa fa-link"></i>Laboratoře proti koronaviru. Akademie věd České republiky. 16. 4. 2020. <a
        href="https://www.laboratore-proti-koronaviru.cz/">Dostupné online</a>.
      </li>
      <li><i class="fa-li fa fa-link"></i>Lukáš Wagenknecht připravil plán otevírání obchodů. Provozovny musíme otevřít
        plošně, aniž by došlo k ohrožení
        zákazníků a diskriminaci prodejců, říká. Česká pirátská strana. 9.4.2020. <a
          href="https://www.pirati.cz/tiskove-zpravy/mame-plan-na-otevirani-obchodu-wagenknecht.html">Dostupné
          online</a>.
      </li>
      <li><i class="fa-li fa fa-link"></i>Pandemický plán ČR. Ministerstvo zdravotnictví ČR. 16. 4. 2020. <a
        href="https://www.mzcr.cz/verejne/dokumenty/pandemicky-plan-ceske-republiky_5520_5.html">Dostupné online</a>.
      </li>
      <li><i class="fa-li fa fa-link"></i>Sněmovní tisk 295, Novela z. – exekuční řád. Poslanecká Sněmovna Parlamentu
        České republiky. 15. 4. 2020.
        <a href="https://www.psp.cz/sqw/historie.sqw?o=8&T=295">Dostupné online</a>.
      </li>
      <li><i class="fa-li fa fa-link"></i>Informing management of lockdowns and a phased return to normality: a Solution
        Scan of non-pharmaceutical
        options to reduce SARS-CoV-2 transmission. <a href="https://covid-19.biorisc.com/">Dostupné online</a>.
      </li>
      <li><i class="fa-li fa fa-link"></i>Stálá komise pro kontrolu použití odposlechu a záznamu telekomunikačního
        provozu, použití sledování osob
        a věcí a rušení provozu elektronických komunikací. Poslanecká Sněmovna Parlamentu České republiky.
        16. 4. 2020. <a href="https://www.psp.cz/sqw/hp.sqw?k=7600">Dostupné online</a>.
      </li>
      <li><i class="fa-li fa fa-link"></i>Unite Against COVID-19. New Zealand Government. 16. 4. 2020. <a
        href="https://covid19.govt.nz/">Dostupné online</a>.
      </li>
      <li><i class="fa-li fa fa-link"></i>Zákon č. 12/2020 Sb. Zákon o právu na digitální služby a o změně některých
        zákonů. Zákony pro lidi. 16. 4. 2020.
        <a href="https://www.zakonyprolidi.cz/cs/2020-12">Dostupné online</a>.
      </li>
    </ul>
  </div>
</section>
</body>

<script>
  $.fn.bootstrapDropdownHover();
</script>
<script src="js/chart.js"></script>
</html>
